# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb
*.pkl
*.h5~
*.tmp

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Streamlit cache
.streamlit/
.streamlit/cache/
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# TensorFlow / Keras
checkpoints/
saved_model/
